[Unit]
Description=Redis data structure server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/redis/bin/redis-sentinel  /usr/local/redis/conf/sentinel.conf  --supervised systemd
ExecStop=/usr/bin/kill -9 $MAINPID
Type=notify

[Install]
WantedBy=multi-user.target
